body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fuente estilo Teams */
.fc {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

/* Título del calendario */
.fc-toolbar-title {
  font-size: 18px;
  font-weight: 600;
}

/* Botones */
.fc-button {
  background-color: #1976d2 !important;
  border: none !important;
  border-radius: 6px !important;
}

.fc-button:hover {
  background-color: #1976d2 !important;
}

/* Eventos */
.fc-event {
  background-color: #1976d2;
  border: none;
  border-radius: 6px;
  padding: 2px;
}

/* Hora */
.fc-timegrid-slot-label {
  font-size: 12px;
  color: #555;
}

/* Línea del tiempo actual */
.fc-now-indicator {
  border-color: red;
}